In [38]:
"""
This is the code for exaluating average similarity calculated from the multiple similarity scores estimated by human correspondents.
"""

import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv("LeePincombeWelshData.csv")
data.head(10)

   SubjectID  Document1  Document2  Similarity    Time
0          1         15          4           1  25.417
1          1          8          7           4   9.764
2          2         17          1           1  56.061
3          2         19          1           1  39.767
4          2         20          1           1  37.344
5          2         25          1           1  14.371
6          2         33          1           5   7.962
7          2         40          1           1  22.262
8          2         50          1           4  15.172
9          2          4          2           1  37.805

In [33]:
def all_pairs(lst):
    """
    This function creates all unique value pairs from list of values. Returns tuples.
    """
    return [ (lst[i],lst[j]) for i in range(0,len(lst)) for j in range(i+1,len(lst)) ]

def calculate_average_similarity(docs, data):
    """
    This function calculates average similarity for the given documents tuple in the given data.
    """
    return np.mean(data.loc[data['Document1'].isin([docs[0], docs[1]]) & data['Document2'].isin([docs[0], docs[1]])].Similarity)

def normalize_data(data):
    """
    This function normalizes given data (min = 1, max = 5)
    """
    return (data - 1) / (5 - np.min(data))

In [34]:
similarities = []
pair_1 = []
pair_2 = []
for pair in all_pairs(np.arange(1,50)):
    pair_1.append(pair[0])
    pair_2.append(pair[1])
    similarities.append(calculate_average_similarity(pair, data))

In [35]:
d = {'Document_1': pair_1, 'Document_2': pair_2, 'Similarity_avg': similarities}
df = pd.DataFrame(data=d)

In [36]:
df["Similarity_avg_normalized"] = normalize_data(df.Similarity_avg.values.reshape(-1, 1))

In [37]:
df.to_csv('AverageSimilarities.csv', index=False)
df.head(10)

   Document_1  Document_2  Similarity_avg  Similarity_avg_normalized
0           1           2             1.5                      0.125
1           1           3             1.2                      0.050
2           1           4             1.0                      0.000
3           1           5             1.5                      0.125
4           1           6             2.5                      0.375
5           1           7             1.3                      0.075
6           1           8             1.2                      0.050
7           1           9             1.0                      0.000
8           1          10             1.3                      0.075
9           1          11             1.3                      0.075